body{
  font-size: 18px;
}
img{
  /* Forces markdown images to be responsive */
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
hr{
  /* hr override to make them thin - might add in liteweight soon */
  border: 0;
  border-top: 1px solid #566B78;
}

/* makes links account for fixed nav */
:target::before {
  content: '';
  display: block;
  height:      70px;
  margin-top: -70px;
}

.post-container{
  line-height: 1.5em;
}
.post-container p{
  margin-bottom: 1.5em;
}
.post-listing{
  font-size: 1.75em;
  font-weight: bold;
  line-height: 2em;
  display: grid;
  grid-template-columns: 1fr auto;
  color:inherit;
}
.post-listing:hover{
  color: #E95420;
  text-decoration: none;
}
.post-listing:hover > .post-listing-title, .post-listing:hover > .post-listing-info > .post-listing-metadata{
  color: #E95420;
}
.post-listing-title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-listing-info{
  font-size: 0.5em;
  line-height: 1.5;
  text-align: right;
}
.post-listing-date{
  font-size: 1.5em;
}
.post-listing-metadata{
  color: #95A5A6;
}
.main-body{
  /* I override Liteweight. Whoever wrote that did bad code -_- */
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 50rem) {
  /* "Compact view" for mobile, will figure out a better solution later */
  .main-body{
    padding-top: 5rem;
  }
  .post-listing{
    font-size: 1.25em;
  }
}

.footer-container{
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}
.footer-link:hover{
  text-decoration: none;
}
.footer-link svg:hover{
  fill: #E95420;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.twitter-embed-container{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
