body{
  font-size: 18px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.75em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.25em;
}
h5{
  font-size: 1.125em;
}
h6{
  font-size: 1em;
}
.page-header{
  font-size: 3em;
}
.post-container{
  margin: 0 auto;
  max-width: 75rem;
}
.post-listing{
  font-size: 1.75em;
  font-weight: bold;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-listing-date{
  font-size: 0.75em;
  color: #95A5A6;
}
.post-title{
  font-size: 2em;
  text-align: center;
}
.post-info{
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.footer-container{
  text-align: center;
  margin: 0 auto;
  max-width: 75rem;
}
