---
layout: default
---

<h1 class="page-header">Posts</h1>

{% for post in paginator.posts %}
  <div class="post-listing">
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="post-listing-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </br>
  </div>
{% endfor %}
<nav>
  <ul class="pager">
    <li>{% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}</li>
    <li><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
    <li>{% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}</li>
  </ul>
</nav>
