---
layout: default
---
<div>
  <h1><span class="text-primary">Lowkey</span><span class="text-black"> is matt's blog</span></h1>

  <p>
    It used to have quite a bit of content, but now it doesn't. I don't really post too much anymore. The only remaining
    content is:
  </p>

  <ul>
    <li>
      keeping up with my <a href="{{site.baseurl}}/stats/song-of-the-week.html">songs of the week</a> and <a
        href="{{site.baseurl}}/stats/books">the books I read</a>
    </li>
    <li>
      reading some of my longer ramblings on my music taste (since ~ 2019)
    </li>
  </ul>
</div>

<hr class="border-top-primary" />
{% for post in site.posts %}
<div>
  <a class="post-listing" href="{{ post.url | prepend: site.baseurl }}">
    <span class="post-listing-title">{{ post.title }}</span>
    <span class="post-listing-info">
      <span class="post-listing-date">{{ post.date | date: "%b %d '%y" }}</span>
      <span class="post-listing-metadata">
        {% capture words %}
        {{ post.content | number_of_words | minus: 250 }}
        {% endcapture %}
        {% if words contains "-" %}
        quick read / {{ words | plus: 250 | append: " words" }}
        {% else %}
        {{ words | plus: 250 | append: " words" }}
        {% endif %}
      </span>
    </span>
  </a>
</div>
<hr />
{% endfor %}
