<footer class="site-footer">

  <div class="container">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title_long }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>{% include icon-github.html %} You can find the code for this blog on the <a href="{{site.repo}}">lowkey GitHub repository</a>.</p>
      </div>
    </div>

  </div>

</footer>

<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/ct-paper.js"></script>
<script src="{{site.baseurl}}/js/ct-paper-radio.js"></script>
<script src="{{site.baseurl}}/js/ct-paper-checkbox.js"></script>
<script src="{{site.baseurl}}/js/bootstrap-select.js"></script>
