<hr />
<footer>

  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>{{ site.title_long }}</li>
          <li>
            <a href="mailto:{{ site.email }}"><span class="fa fa-fw fa-envelope" style="color:red;"></span> {{ site.email }}</a></li>
          <li>
            <li>
              <a href="https://matthewwang.me"><span class="fa fa-fw fa-link"></span> matthewwang.me</a></li>
            <li>
            <a href="https://github.com/{{site.github}}"><span class="fa fa-fw fa-github" style="color:black;"></span> {{site.github}}</a>
          </li>
          <li>
            <a href="https://twitter.com/{{site.twitter}}"><span class="fa fa-fw fa-twitter" style="color:lightblue;"></span> {{site.twitter}}</a>
          </li>
        </ul>
      </div>


      <div class="col-sm-8">
        <p>{{ site.description }}</p>
        <p>You can find the code for this blog on <a href="{{site.repo}}">GitHub.</a></p>
      </div>
    </div>

  </div>

</footer>

<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/navbar.min.js"></script>
