<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <ul class="contact-list">
          <li>{{ site.title_long }}</li>
          <li></br></li>
          <li><span class="fa fa-envelope"></span> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{site.github_username}}"><span class="fa fa-github" style="color:black;"></span> {{site.github_username}}</a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{site.twitter_username}}"><span class="fa fa-twitter" style="color:lightblue;"></span> {{site.twitter_username}}</a>
          </li>
          {% endif %}
        </ul>
      </div>


      <div class="col-sm-8">
        <p>{{ site.description }}</p>
        <p>You can find the code for this blog on the <a href="{{site.repo}}">lowkey GitHub repository</a>.</p>
      </div>
    </div>

  </div>

</footer>

<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/ct-paper.js"></script>
<script src="{{site.baseurl}}/js/ct-paper-radio.js"></script>
<script src="{{site.baseurl}}/js/ct-paper-checkbox.js"></script>
<script src="{{site.baseurl}}/js/bootstrap-select.js"></script>
