<nav class="navbar navbar-ct-primary">
   <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-container">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">{{site.title}}</a>
     </div>

     <div class="collapse navbar-collapse" id="navbar-collapse-container">
       <ul class="nav navbar-nav navbar-right">
         <li>
             <a href="{{site.baseurl}}/about/" class="btn btn-simple">About</a>
         </li>
         <li>
             <a href="http://matthewwang.me" class="btn btn-simple">Directory</a>
         </li>
        </ul>
     </div>
   </div>
 </nav>
