---
layout: default
---
<div class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if page.author %}{{ page.author }}{% else %}Matthew Wang{% endif %}</span></span></p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <div>
      <h2>Comments <small>not as bad as youtube's, I promise</small></h2>
      <h3><span class="fa fa-fw fa-pencil"></span> Write a Comment!</h3>
      <form method="post" action="https://api.staticman.net/v1/entry/malsf21/lowkey/master">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <input name="options[redirect]" type="hidden" value="{{site.url}}{{page.url}}">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nickname</label>
              <input class="form-control" id="name" name="fields[name]" type="text" placeholder="Doesn't have to be real.">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" id="email" name="fields[email]" type="email" placeholder="Try to make this one legit.">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" id="comment" name="fields[comment]" placeholder="Be nice."></textarea>
        </div>
        <button class="btn btn-lg btn-info" type="submit">Give your two cents.</button>
      </form>

      {% capture post_slug %}{{ page.slug }}{% endcapture %}
      {% if site.data.comments[post_slug]  %}
        <h4>Comments from others</h4>
        {% assign comments = site.data.comments[post_slug] | sort %}
          {% for comment in comments %}
            <div class="well">
              <div class="row">
                <div class="col-sm-2 text-center">
                  <h4><a href="mailto:{{comment[1].email}}">{{comment[1].name}}</a></h4>
                  <img class="img-responsive img-thumbnail" src="https://api.adorable.io/avatars/256/{{comment[1].name | slugify}}" />
                </div>
                <div class="col-sm-10">
                  <p class="lead">
                    {{comment[1].comment  | markdownify }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
			{% endif %}
    </div>

  </article>
</div>
