---
layout: default
---

<div>
  <h1 class="title title-1">{{ page.title }}</h1>
  <div>
    {% for category in page.categories %}
      {% if site.specials_list contains category %}
        <span class="tag tag-rounded bg-primary">
          <a class="link-white" href="{{site.baseurl}}/specials/{{ category }}/">{{ category }}</a>
        </span>
      {% else %}
        <span class="tag tag-rounded border-primary">
          <a href="{{site.baseurl}}/category/{{ category }}.html">{{ category }}</a>
        </span>
      {% endif %}
    {% endfor %}
    {% if page.edits %}
      {% for edit in page.edits %}
        <span class="tag tag-rounded bg-secondary">Edited {{ edit }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <p>
      {{ page.date | date: "%b %-d, %Y" }} • {% if page.author %}{{ page.author }}{% else %}Matt{% endif %} •
      {% capture words %}
        {{ page.content | number_of_words | minus: 250 }}
      {% endcapture %}
      {% if words contains "-" %}
        a quick read • {{ words | plus: 250 | append: " words" }}
      {% else %}
        {{ words | plus: 250 | append: " words" }}
      {% endif %}
    </p>
</div>
<hr />
<div class="post-container">
  {{ content }}
</div>
<hr />
<div>
  Thank you for reading <a href="{{page.url}}">{{ page.title }}</a>.
  It was written on {{ page.date | date: "%b %-d, %Y" }} by {% if page.author %}{{ page.author }}{% else %}Matt{% endif %}.
  It was
  {% capture words %}
    {{ page.content | number_of_words | minus: 250 }}
  {% endcapture %}
  {{ words | plus: 250 | append: " words long" }}.
  {% for category in page.categories %}
    {% if site.specials_list contains category %}
      It was part of the special series <a href="{{site.baseurl}}/specials/{{ category }}/">{{ category }}</a>.
    {% else %}
      It was categorized under <a href="{{site.baseurl}}/category/{{ category }}.html">{{ category }}</a>.
    {% endif %}
  {% endfor %}
  {% if page.edits %}
    {% for edit in page.edits %}
      It was edited on {{ edit }}.
    {% endfor %}
  {% endif %}
</div>
