---
layout: default
---

<a href="{{site.baseurl}}/specials/{{page.tag}}/">
  <img class="img-responsive" src="{{site.baseurl}}/img/{{page.img}}" alt="{{page.title}} picture"/>
</a>
<h2><a href="{{site.baseurl}}/specials/{{page.tag}}/">{{page.title}}</a></h2>
<p>
	{{ content }}
</p>
<hr class="border-top-primary" />
{% for post in site.categories[page.tag] reversed %}
<div>
  <a class="post-listing" href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-listing-title">{{ post.title | remove: page.rslug }}</div>
    <div class="post-listing-info">
      <div class="post-listing-date">{{ post.date | date: "%d/%m/%y" }}</div>
      <div class="post-listing-metadata">
        {% capture words %}
          {{ post.content | number_of_words | minus: 250 }}
        {% endcapture %}
        {% if words contains "-" %}
        quick read / {{ words | plus: 250 | append: " words" }}
        {% else %}
        ~ {{ words | plus: 250 | divided_by: 180 | append: " min" }} / {{ words | plus: 250 | append: " words" }}
        {% endif %}
      </div>
    </div>
  </a>
</div>
<hr />
{% endfor %}
