---
layout: default
---

<h1 class="title title-1 text-primary">{{page.title}}</h1>
<hr />
{{ content }}
<hr class="border-top-primary" />
{% for post in site.categories[page.tag] reversed %}
<div>
  <a class="post-listing" href="{{ post.url | prepend: site.baseurl }}">
    <div class="post-listing-title">{{ post.title | remove: page.rslug }}</div>
    <div class="post-listing-info">
      <div class="post-listing-date">{{ post.date | date: "%d/%m/%y" }}</div>
      <div class="post-listing-metadata">
        {% capture words %}
          {{ post.content | number_of_words | minus: 250 }}
        {% endcapture %}
        {% if words contains "-" %}
        quick read / {{ words | plus: 250 | append: " words" }}
        {% else %}
        ~ {{ words | plus: 250 | divided_by: 180 | append: " min" }} / {{ words | plus: 250 | append: " words" }}
        {% endif %}
      </div>
    </div>
  </a>
</div>
<hr />
{% endfor %}
