---
title: Top 15 at 15
permalink: "/specials/15at15/"
layout: page
---

<a href="{{site.baseurl}}/specials/15at15/">
  <img class="img-responsive" src="{{site.baseurl}}/img/vinyl-turntable.jpg" alt="Vinyl Turntable"/>
</a>
<h2><a href="{{site.baseurl}}/specials/15at15/">Top 15 Albums at 15</a></h2>
<p>
  I walk you through my Top 15 most impactful albums at 15, and tell a few long, off-topic stories that somehow all come together to make one coherent series. Plus, there's an honourable mention section, and many things I write about that you can use to make fun of me.
</p>
<hr class="border-top-primary" />
{% for post in site.categories["15at15"] reversed %}
<div class="post-listing">
  <a class="post-listing-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | remove: "Top 15 Albums at 15 | "}}</a>
  <div class="post-listing-info">
    <div class="post-listing-date">{{ post.date | date: "%d/%m/%y" }}</div>
    <div class="post-listing-metadata">
      {% capture words %}
        {{ post.content | number_of_words | minus: 250 }}
      {% endcapture %}
      {% if words contains "-" %}
      quick read / {{ words | plus: 250 | append: " words" }}
      {% else %}
      ~ {{ words | plus: 250 | divided_by: 180 | append: " min" }} / {{ words | plus: 250 | append: " words" }}
      {% endif %}
    </div>
  </div>
</div>
<hr />
{% endfor %}
