---
title: "Books"
permalink: "/stats/books"
layout: page
---

<p>
  This is just a list of books I've read (2020-onward), and my thoughts on them. Nothing too exciting. Oh, and this is a <b>spoiler-free zone</b>.
</p>

<p>
  See: <a href="{{site.baseurl}}/stats/books/compact">compact version</a>, <a href="{{site.baseurl}}/stats/books/best">favourites/strongest recommendations</a>, <a href="{{site.baseurl}}/stats/books/murakami">just Murakami books.</a>
</p>

{% comment %}
  This one is a bit ~ quirky ~ because of how Ruby HashArrays are interpreted. At least, I think.
{% endcomment %}

{% assign books = site.data.books %}

{% for book_obj in books reversed %}
  {% capture html_id %}{{book_obj[0]}}{% endcapture %}
  {% assign book = book_obj[1] %}
  {% include book_card.html html_id=html_id %}
{% endfor %}
