---
title: "Murakami Books"
permalink: "/stats/books/murakami"
layout: page
---

<p>
  Murakami books I've read and some short thoughts.
</p>
<p>
  (for those wondering: I'm not actually a Murakami mega-fan; I would say that I have a slight positive lean on his body of work as a whole, and I especially am wary of his writing of women. But, I did read all of his books (at the time) as a mini pandemic challenge, and so this page exists to commemorate that tradition.)
</p>
<p>
  <a href="{{site.baseurl}}/stats/books">see all the books I've read</a>.
</p>

{% assign murakami_books = site.data.books | where: "author", "Haruki Murakami" %}

{% for book in murakami_books reversed %}
  {% include book_card.html %}
{% endfor %}
